@font-face {
  font-family: 'SF Pro Text';
  src: local('SF Pro Text'), local('SFProText-Regular');
  font-weight: 400;
}

body {
  margin: 0;
  background-color: #f5f5f7;
  font-family: 'SF Pro Text', -apple-system, BlinkMacSystemFont, sans-serif;
}
